body{
    font-family: 'Happy Monkey' , system-ui;
    text-align: center ;
    color: #ffffff;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    
}
#logo{
    height: 200px ;
    border-radius: 50%;
    border:6px solid #EFB0C9;

}
h1 ,h2,h4  {
    text-shadow: 0 0 1px black;

}
#bday-age{
    background-color: #EFB0C9;
    padding:5px 10px;
    border-radius: 10px;
    margin:5px 0 10px 0;
}
#bday-date{
    background-color: #EFB0C9;
    padding:5px 10px;
    border-radius: 5px;
    margin: 0;
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#gift5{
    height: 200px;
}
.gift-img{
    
    border: 6px solid white;
    border-radius: 10px;
    background-image:url("images/gift-cover.jpeg") ;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.gift-section{
    margin: 50px 0 0 0 ;
}
.gift-title{
    margin-bottom:10px ;
}
.gift-hint{
    margin-top: 0;
}

#gift1:hover{
    background-image: url("images/happy-gift.webp");
}
#gift2:hover{
    background-image: url("images/hot.webp");
    
}
#gift3:hover{
    background-image: url("images/genius.webp");
    
}
#gift4:hover{
    background-image: url("images/badass.webp");
}

#gift5:hover{
    background-image: url("images/cheers.webp");
}
#footer{
    font-style: italic;
    width: 400px;
    margin:40px auto 20px;
    
    
}
a{
    color: #ffffff;
}
#icon{
    border-radius: 100%;
    
}